.ingredientCard {
    max-width: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.priceWrapper {
    display: flex;
}

.price {
    height: 24px;
}

.currency {
    height: 24px;
}

.cardTitle {
    height: 48px;
    width: 100%;
    text-align: center;
}

.cards {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
}
