.burger-constructor {
  height: calc(100vh - 88px - 40px - 40px);
  overflow: hidden;
  width: 600px;
  border: 2px solid #4c4cff;
  border-top: none;
  box-sizing: border-box;
}

.burger-constructor__ingredients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  height: 572px;
  position: relative;
}
.burger-constructor__ingredients::-webkit-scrollbar {
  width: 8px;
  height: 664px;
  background: #2f2f37;
  border-left: 1px dashed #4c4cff;
  border-top: 1px dashed #4c4cff;
  border-bottom: 1px dashed #4c4cff;
}
.burger-constructor__ingredients::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
}

.burger-constructor__ingredient-wrapper {
  width: calc(100% - 32px);
  border: 1px dashed #4c4cff;
  display: flex;
  align-items: center;
  position: relative;
}
.burger-constructor__ingredient-wrapper:only-child {
  border: 1px dashed #4c4cff;
}

.burger-constructor__drag-ico {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: calc(50% - 14.5px);
  border: 1px dashed #4c4cff;
  border-left: unset;
  cursor: -webkit-grab;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}