.burgerConstructor {
    height: calc(100% - 88px - 40px - 40px);
    overflow: hidden;
    width: 600px;
    border-top: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingredient {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 568px;
    box-sizing: border-box;
}

.ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: calc(100% - 100px);
    position: relative;
    list-style: none;
}

.ingredientsMiddle {
    overflow-y: scroll;
    max-height: calc(100% - 297px);
    min-height: 82px;
    width: 100%;
    list-style: none;

    &:last-child {
        .ingredientWrapper {
            margin-bottom: 0 !important;
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 464px;
        background: #2f2f37;
    }

    &::-webkit-scrollbar-thumb {
        background: #8585ad;
    }
}

.ingredientWrapper {
    width: calc(100% - 32px);
    display: flex;
    align-items: center;
    position: relative;
}

.dragIco {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: calc(50% - 14.5px);
    border-left: unset;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.total {
    padding: 14px 0 14px 0;
}

.action {
    padding: 0;
}
