.burgerConstructor {
  height: calc(100% - 88px - 40px - 40px);
  overflow: hidden;
  width: 600px;
  border: 2px solid #4c4cff;
  border-top: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: calc(100% - 100px);
  position: relative;
}

.ingredientsMiddle {
  overflow-y: scroll;
  max-height: calc(100% - 289px);
  min-height: 82px;
  width: 100%;
}
.ingredientsMiddle::-webkit-scrollbar {
  width: 8px;
  height: 464px;
  background: #2f2f37;
  border-left: 1px dashed #4c4cff;
  border-top: 1px dashed #4c4cff;
  border-bottom: 1px dashed #4c4cff;
}
.ingredientsMiddle::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
}

.ingredientWrapper {
  width: calc(100% - 32px);
  border: 1px dashed #4c4cff;
  display: flex;
  align-items: center;
  position: relative;
}

.dragIco {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: calc(50% - 14.5px);
  border: 1px dashed #4c4cff;
  border-left: unset;
  cursor: -webkit-grab;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total {
  border: 1px dashed #4c4cff;
  padding: 14px 0 14px 0;
}

.image,
.text,
.button-wrapper {
  border: 1px dashed #4c4cff;
}

.price {
  border: 1px dashed #4c4cff;
}
.price svg {
  border-left: 1px dashed #4c4cff;
}

.action {
  border: 1px dashed #4c4cff;
  padding: 0;
}