* {
    margin: 0;
    padding: 0;
}

.main {
    box-sizing: border-box;
    overflow: hidden;
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

.appContainer {
    background: #131316;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}
