.header {
  max-width: 100%;
  height: 88px;
  border: 2px solid #4c4cff;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 40px 0 40px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  position: relative;
  box-sizing: border-box;
}

.header__left {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__center {
  position: absolute;
  top: 0;
  left: calc(50% - 145px);
}

.header__button {
  cursor: pointer;
  color: #fff;
  background: none;
  border: 1px dashed #4c4cff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}