.burger-ingredients {
  height: calc(100vh - 88px - 40px - 40px);
  overflow: hidden;
  width: 600px;
  border: 2px solid #4c4cff;
  border-top: none;
  box-sizing: border-box;
}

.burger-ingredients__title {
  border-bottom: 1px dashed #4c4cff;
  border-top: 1px dashed #4c4cff;
}
.burger-ingredients__title:first-of-type {
  border-top: unset;
}

.tabs div {
  border: 1px dashed #4c4cff;
}

.burger-ingredients__wrapper {
  overflow-y: scroll;
  height: 81%;
  position: relative;
  border-top: 1px dashed #4c4cff;
}
.burger-ingredients__wrapper::-webkit-scrollbar {
  width: 8px;
  height: 664px;
  background: #2f2f37;
  border-left: 1px dashed #4c4cff;
  border-top: 1px dashed #4c4cff;
  border-bottom: 1px dashed #4c4cff;
}
.burger-ingredients__wrapper::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
}

.burger-ingredients__cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.ingredient-card {
  max-width: 272px;
  border: 1px dashed #4c4cff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.ingredient-card__price-wrapper {
  display: flex;
}

.ingredient-card__price {
  border: 1px dashed #4c4cff;
  height: 24px;
}

.ingredient-card__currency {
  border: 1px dashed #4c4cff;
  height: 24px;
}

.ingredient-card__img {
  border: 1px dashed #4c4cff;
}

.ingredient-card__title {
  border-top: 1px dashed #4c4cff;
  height: 48px;
  width: 100%;
  text-align: center;
}