.burgerIngredients {
    height: calc(100vh - 88px - 40px - 40px);
    overflow: hidden;
    width: 600px;
    border-top: none;
    box-sizing: border-box;
}

.wrapper {
    overflow-y: scroll;
    height: calc(100% - 88px - 40px - 31px);
    width: 100%;
    position: relative;

    &::-webkit-scrollbar {
        width: 8px;
        height: 664px;
        background: #2f2f37;
    }

    &::-webkit-scrollbar-thumb {
        background: #8585ad;
    }
}




